/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-x: hidden;
  transition:0.5s;
  padding-top: 60px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition:0.3s;
}

/* On mouse-over */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Main content */
/*.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  /*font-size: 20px; /* Increased text to enable scrolling */
  /*padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.sidenav .closebtn{
  position:absolute;
  top:0;
  right:25px;
  font-size:36px;
  margin-left:50px;
}
@media screen and(max-height: 450px)
{
  .sidenav {padding-top:15px;}
  .sidenav a {font-size:18px;}
}